.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.input-group label {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	font-family: "Outfit", sans-serif;
}

.input-group input {
	padding: 0.5rem;
	border-radius: 5px;
	font-size: 1.2rem;
}
